<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="public/bootstrap.php"
         cacheTokens="true"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         verbose="false">
    <testsuites>
        <testsuite name="PHPUnit">
            <directory>tests/Ophportunidades</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src/Ophportunidades</directory>
        </whitelist>
    </filter>
</phpunit>
